:root {
  --primary-foreground:#d1e5d4;
  --primary-background:#262625;
  --secondary-background: #474745;
  --primary-accent:#57c589;
  --secondary-accent:#2B4737;
  --secondary-foreground:#D4CC90;
  --normal-text-weight: 300;
  --bold-text-weight: 400;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  font-weight: var(--normal-text-weight);
	font-feature-settings: "kern";
	font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}
html, 
button, 
input, 
select, 
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Source Sans Pro', sans-serif;
} 

.donate-content-area {
  margin: 5px;
  padding: 5px;
  background-color: var(--secondary-foreground);
  border-radius: 2px;
  text-align: center;
  height: 120px;
}

.donate-content-area h3, .donate-content-area code {
  color: var(--primary-background);  
}

tr td, th {
  border: 1px solid var(--secondary-background);
}

td, th {
  padding: 5px;
}

th {
  background: var(--secondary-accent);
}

a, a:visited {
  text-decoration: none;
  color: var(--primary-accent);
}

header .luxbar-menu i {
  vertical-align: text-bottom;  
  line-height: 18px;
}

.luxbar-menu-light {
  background: var(--secondary-accent);
  color: var(--primary-foreground);
}

.luxbar-menu-light a, .luxbar-menu-light a:visited {
  color: var(--primary-foreground);
}

.luxbar-menu-light .active, .luxbar-menu-light .luxbar-item:hover,
.luxbar-menu-light .active a, .luxbar-menu-light .luxbar-item:hover a {
  background: var(--primary-background);
  color: var(--primary-accent);
}


.luxbar-menu-light .luxbar-hamburger span, 
.luxbar-menu-light .luxbar-hamburger span::before, 
.luxbar-menu-light .luxbar-hamburger span::after {
  background-color: var(--primary-foreground);
}


.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background: var(--primary-accent);
  color: var(--primary-background);
}


.pure-g > section {
  box-sizing: border-box;  
}

article {
  margin-top: 40px; 
}

:target:before {
  content:"";
  display:block;
  height:60px; 
  margin:-60px 0 0; 
}

article, section {
  padding: 1em;    
}

.centered {
  text-align: center;
  margin: auto;
}

b, strong, dt {
  font-weight: var(--bold-text-weight);
}

dt {
  margin-top: 1em;
}

code, pre, .kwd, .cmd, .file, .dir, kbd, .kbd, .ext, .min-terminal, .min-code, .min-codeblock{
  font-family: 'Source Code Pro',  monospace;
  font-size: 90%;
}

.kwd, .kwd, .cmd, .file, .dir, .ext, kbd, .kbd {
  font-weight: var(--bold-text-weight);  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--normal-text-weight);
  color: var(--secondary-foreground);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.pitch {
  font-size: 1.2em;  
}

.operator {
  margin-left: 2em;  
}

dl {
  margin-left: 1em;  
}

.min-terminal {
  border: 1px solid var(--secondary-accent);
  padding: 5px;
  white-space: pre;
}

.min-terminal p {
  margin: 0.5em 0;  
}

.min-terminal p:first-child {
  margin-top: 0;
}

.min-terminal p:last-child {
  margin-bottom: 0;
}

.min-terminal .prompt {
  color: var(--secondary-foreground);  
}

.note p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: var(--normal-text-weight);
  font-size: 100%;
  content: "\e717" " ";
}
.tip p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: var(--normal-text-weight);
  font-size: 100%;
  content: "\e64d" " ";
}
.warning p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: var(--normal-text-weight);
  font-size: 100%;
  content: "\e6c5" " ";
}
.sidebar, .note, .tip, .warning, pre {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px auto;
  padding: 2px 4px 2px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-background);
  font-size: 90%;
}

.sidebar pre {
  box-shadow: none;
}

.sidebar p:first-child,
.note p:first-child,
.tip p:first-child,
.warning p:first-child {
  font-weight: var(--bold-text-weight);
}
.sidebar p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: var(--normal-text-weight);
  font-size: 100%;
  content: "\e717" " ";
}
.tip p, .warning p, .note p, .sidebar p {
  margin: 0 auto;
  line-height: 1.7em;
}

.sigil {
  color: var(--primary-foreground);
}
.sigil:before {
  color: var(--primary-foreground);
  background-color: var(--secondary-accent);
  border: 1px solid var(--primary-foreground);
  padding: 0 3px 0;
  display: inline-block;
  width: auto;
  margin: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0 1px 0;
  height: 18px;
  line-height: 18px;
  width: 45px;
  text-align: center;
  margin-right: 3px;
  box-shadow: none;
  font-size: 1.2rem;
  font-variant: small-caps;
  font-weight: var(--bold-text-weight);
  content: "sigil";
}

footer {
  font-size: 80%;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.min-codeblock {
  white-space: pre-wrap;
  font-size: 80%;
  background: #1a1c1a;
  border: 1px solid #313631;
  border-radius: 3px;
  padding: 0.5rem;
}

.min-code {
  font-size: 80%;
  background: #1a1c1a;
  border: 1px solid #313631;
  border-radius: 3px;
  padding: 0 0.2rem;
}

.min-tkLineComment,
.min-tkLineDocComment,
.min-tkBlockComment,
.min-tkBlockDocComment {
  color: #22ad61;
}

.min-tkBraceRi,
.min-tkBracketRi,
.min-tkSqBracketRi,
.min-tkBraceLe,
.min-tkBracketLe,
.min-tkSqBracketLe {
  color: #cf111b;
}

.min-tkInt,
.min-tkFloat {
  color: #f381f7;
}

.min-tkString {
  color: #e6ab09;
}

.min-tkCommand {
  color: #c7830e;
}

.min-tkSymbol {
  color: #f5fcfd;
}

.min-tkNull,
.min-tkTrue,
.min-tkFalse {
  color: #0cc9a0;
}

.mmm-module {
  border: 1px solid #313631;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.mmm-module p {
  margin: 0.5rem 0;
}

.mmm-module h3{
  margin: 0;
}

.mmm-meta dl {
  margin: 0;
}

.mmm-meta dd {
  margin: 0;
  display: inline;
}

.mmm-meta dt {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.mmm-meta dd:after {
  content: '\a';
  white-space: pre;
}
