:root {
  --primary-foreground:#89968B;
  --primary-background:#262625;
  --secondary-background: #474745;
  --primary-accent:#4BAA76;
  --secondary-accent:#2B4737;
  --secondary-foreground:#D4CC90;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  font-weight: 300;
	font-feature-settings: "kern";
	font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}
html, 
button, 
input, 
select, 
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', sans-serif;
} 

tr td, th {
  border: 1px solid var(--secondary-background);
}

td, th {
  padding: 5px;
}

th {
  background: var(--secondary-accent);
}

a, a:visited {
  text-decoration: none;
  color: var(--primary-accent);
}

header .luxbar-menu i {
  vertical-align: text-bottom;  
}

.luxbar-menu-light {
  background: var(--secondary-accent);
  color: var(--primary-foreground);
}

.luxbar-menu-light a, .luxbar-menu-light a:visited {
  color: var(--primary-foreground);
}

.luxbar-menu-light .active, .luxbar-menu-light .luxbar-item:hover,
.luxbar-menu-light .active a, .luxbar-menu-light .luxbar-item:hover a {
  background: var(--primary-background);
  color: var(--primary-accent);
}


.luxbar-menu-light .luxbar-hamburger span, 
.luxbar-menu-light .luxbar-hamburger span::before, 
.luxbar-menu-light .luxbar-hamburger span::after {
  background-color: var(--primary-foreground);
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background: var(--primary-accent);
  color: var(--primary-background);
}


.pure-g > section {
  box-sizing: border-box;  
}

article {
  margin-top: 40px; 
}

:target:before {
  content:"";
  display:block;
  height:60px; 
  margin:-60px 0 0; 
}

article, section {
  padding: 1em;    
}

.centered {
  text-align: center;
  margin: auto;
}

b, strong, dt {
  font-weight: 400;
}

code, pre, .kwd, .cmd, .file, .dir, kbd, .kbd, .min-terminal {
  font-family: 'Inconsolata',  monospace;
}

.kwd, .kwd, .cmd, .file, .dir, kbd, .kbd {
  font-weight: bold;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: var(--secondary-foreground);
}

.pitch {
  font-size: 1.2em;  
}

.operator {
  margin-left: 2em;  
}

dl {
  margin-left: 1em;  
}

.min-terminal {
  border: 1px solid var(--secondary-accent);
  padding: 5px;
  white-space: pre;
}

.min-terminal p {
  margin: 0.5em 0;  
}

.min-terminal p:first-child {
  margin-top: 0;
}

.min-terminal p:last-child {
  margin-bottom: 0;
}

.min-terminal .prompt {
  color: var(--secondary-foreground);  
}

.note p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  content: "\e717" " ";
}
.tip p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  content: "\e64d" " ";
}
.warning p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  content: "\e6c5" " ";
}
.sidebar, .note, .tip, .warning, pre {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px auto;
  padding: 2px 4px 2px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-background);
  font-size: 90%;
}

.sidebar pre {
  box-shadow: none;
}

.sidebar p:first-child,
.note p:first-child,
.tip p:first-child,
.warning p:first-child {
  font-weight: bold;
}
.sidebar p:first-child:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  content: "\e717" " ";
}
.tip p, .warning p, .note p, .sidebar p {
  margin: 0 auto;
  line-height: 1.7em;
}

.sigil {
  color: var(--primary-foreground);
}
.sigil:before {
  color: var(--primary-foreground);
  background-color: var(--secondary-accent);
  padding: 0 3px 0;
  display: inline-block;
  width: auto;
  margin: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1px 1px 1px 1px;
  height: 25px;
  width: 50px;
  text-align: center;
  margin-right: 3px;
  box-shadow: none;
  font-size: 90%;
  font-variant: small-caps;
  font-weight: bold;
  content: "sigil";
}

footer {
  font-size: 80%;
  text-align: center;
  margin: auto;
  padding: 5px;
}
