body {
  background-color: #FEFEFE;
  color: #212121;
  font-weight: 300;
	font-feature-settings: "kern";
	font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}
html, 
button, 
input, 
select, 
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Lato', sans-serif;
} 

header .luxbar-menu i {
  vertical-align: text-bottom;  
}

main {
  margin-top: 40px;  
}


.pure-g > section {
  box-sizing: border-box;  
}

article, section {
  padding: 1em;    
}

.centered {
  text-align: center;
  margin: auto;
}

b, strong {
  font-weight: 400;
}

code, pre, .kwd {
  font-family: 'Inconsolata',  monospace;
}

.kwd {
  font-weight: bold;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.pitch {
  font-size: 1.2em;  
}

.operator {
  margin-left: 2em;  
}

dl {
  margin-left: 1em;  
}
