<footer>
<p>&copy; 2017 &mdash; <a href="https://h3rald.com">Fabio Cevasco</a></p>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img src="https://img.shields.io/badge/content-CC%20BY--SA%204.0 License-yellow.svg" 
         alt="Web site content licensed under the Creative Commons Attribution Share-Alike 4.0 license"/>
  </a>
  <br />
  <a href="https://opensource.org/licenses/MIT">
    <img src="https://img.shields.io/badge/code-MIT License-blue.svg" 
         alt="Source code licensed under the MITlicense"/>
  </a>
</p>
</footer>
