  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tbd">
    <title>{{site}} - {{title}}</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@0.6.2(base-min.css+grids-min.css+grids-responsive-min.css+buttons-min.css)">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,300i,400,400i" rel="stylesheet">
    <link rel="stylesheet" href="/styles/themify-icons.css">
    <link rel="stylesheet" href="/styles/min-lang.css">
  </head>
