  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The min programming language is a small, concatenative, interpreted programming language that fits in a single 1MB file.">
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <title>{{site}} - {{title}}</title>
    <link rel="alternate" type="application/rss+xml" title="{{title}}" href="https://min-lang.org/rss.xml" />
    <link rel="stylesheet" href="/styles/pure.css">
    <link rel="stylesheet" href="/styles/luxbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/themify-icons.css">
    <link rel="stylesheet" href="/styles/min-lang.css">
  </head>
