<header class="luxbar luxbar-fixed">
    <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-light">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
                <a class="luxbar-brand" href="/">{{site}}</a>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                        for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item"><a href="/download/"><i class="ti-download"></i> Download</a></li>
            <li class="luxbar-item"><a href="/learn/"><i class="ti-help-alt"></i> Learn</a></li>
            <li class="luxbar-item"><a href="/reference/"><i class="ti-book"></i> Reference</a></li>
            <li class="luxbar-item"><a href="/about/"><i class="ti-info-alt"></i> About</a></li>
        </ul>
    </div>
</header>
