<header class="luxbar luxbar-fixed">
    <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-light">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
                <a class="luxbar-brand" href="/"><img src="/images/logo.svg" alt="{{site}}" style="height:55px;" /></a>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                        for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item"><a href="/news/"><i class="ti-announcement"></i> news</a></li>
            <li class="luxbar-item"><a href="/get-started/"><i class="ti-timer"></i> get started</a></li>
            <li class="luxbar-item"><a href="/learn/"><i class="ti-help-alt"></i> learn</a></li>
            <li class="luxbar-item"><a href="/mmm/"><i class="ti-package"></i> mmm</a></li>
            <li class="luxbar-item"><a href="/reference/"><i class="ti-book"></i> reference</a></li>
            <li class="luxbar-item"><a href="/about/"><i class="ti-info-alt"></i> about</a></li>
        </ul>
    </div>
</header>
