<div class="mmm-module">
    <h3 id="module-{{name}}">{{name}}</h3>
    <p>{{description}}</p>
    <div class="mmm-meta">
        <dl>
            <dt>Author:</dt>
            <dd>{{author}}</dd>
            <dt>License:</dt>
            <dd>{{license}}</dd>
            <dt>URL:</dt>
            <dd><a href="{{url}}">{{url}}</a></dd>
            <dt>Dependencies:</dt>
            <dd>{{dependencies}}</dd>
        </dl>
    </div>
</div>


