<!doctype html>
<html lang="en">
  {{> _head}}
  <body>
    {{> _menu}}
    <main class="pure-g">
      <article class="pure-u-5-5">
        <h1>News</h1>
        <p>This page lists the latest news about the min programming language.</p>
          <div class="centered pure-u-1">
            <a class="pure-button pure-button-primary" href="/rss.xml"><i class="ti-rss"></i> Subscribe</a>
          </div>
        <ul>
        {{#posts}}
          <li><a href="/{{id}}">{{date}} &mdash; {{title}}</a></li>
        {{/posts}}
        </ul>
      </article>
    </main>
    {{> _footer}}
  </body>
</html>
